# Replace 'app' with your folder name if it is different
Guided-project-Work-with-variable-data-CSharp-main/** linguist-documentation=false
Guided-project-Work-with-variable-data-CSharp-main/** linguist-vendored=false

# Ignore web assets or dependency folders from language statistics
Guided-project-Work-with-variable-data-CSharp-main/wwwroot/** linguist-detectable=false
Guided-project-Work-with-variable-data-CSharp-main/bin/** linguist-detectable=false
Guided-project-Work-with-variable-data-CSharp-main/obj/** linguist-detectable=false

# force to calculate C#
*.cs linguist-detectable=true
*.cs linguist-vendored=false
*.cs linguist-documentation=false

# Force GitHub to scan the Starter folder
Guided-project-Work-with-variable-data-CSharp-main/Starter/** linguist-vendored=false
Guided-project-Work-with-variable-data-CSharp-main/Starter/** linguist-detectable=true

# Force GitHub to scan the Final folder
Guided-project-Work-with-variable-data-CSharp-main/Final/** linguist-vendored=false
Guided-project-Work-with-variable-data-CSharp-main/Final/** linguist-detectable=true


